<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.dao.LoginInfoMapper">
    <!--<insert id="insertLoginInfo" parameterType="">
        insert into cb_sys_login_his
        (id,login_type,login_status,create_user,create_time,update_user,update_time,message_id)
        values
        (cb_sys_login_his_seq,
        #{tableType,jdbcType=DECIMAL},
        #{numerical,jdbcType=DECIMAL},
        #{dateType,jdbcType=DECIMAL},
        #{timitType,jdbcType=DECIMAL},
        #{createBy.id,jdbcType=DECIMAL},
        #{createDate,jdbcType=TIMESTAMP},
        #{updateBy.id,jdbcType=DECIMAL},
        #{updateDate,jdbcType=TIMESTAMP})
    </insert>-->
</mapper>
