<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uns.unspay.mapper.CpsDeclareFlowMapper">
  <resultMap id="BaseResultMap" type="com.uns.unspay.entity.CpsDeclareFlow">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DECLARE_DETAIL_ID" jdbcType="VARCHAR" property="declareDetailId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="PAYER_NAME" jdbcType="VARCHAR" property="payerName" />
    <result column="PAYER_CERT_TYPE" jdbcType="VARCHAR" property="payerCertType" />
    <result column="PAYER_CERT_NO" jdbcType="VARCHAR" property="payerCertNo" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="CURRENCY_ID" jdbcType="VARCHAR" property="currencyId" />
    <result column="PAYER_MOBILE" jdbcType="VARCHAR" property="payerMobile" />
    <result column="RES_CODE" jdbcType="VARCHAR" property="resCode" />
    <result column="RES_MSG" jdbcType="VARCHAR" property="resMsg" />
    <result column="EXT_JSON" jdbcType="VARCHAR" property="extJson" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="REQUEST_NO" jdbcType="VARCHAR" property="requestNo" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DECLARE_DETAIL_ID, STATUS, CREATE_TIME, UPDATE_TIME, PAYER_NAME, PAYER_CERT_TYPE, 
    PAYER_CERT_NO, AMOUNT, CURRENCY_ID, PAYER_MOBILE, RES_CODE, RES_MSG, EXT_JSON, REMARK, 
    REQUEST_NO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CPS_DECLARE_FLOW
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CPS_DECLARE_FLOW
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uns.unspay.entity.CpsDeclareFlow">
    insert into CPS_DECLARE_FLOW (ID, DECLARE_DETAIL_ID, STATUS, 
      CREATE_TIME, UPDATE_TIME, PAYER_NAME, 
      PAYER_CERT_TYPE, PAYER_CERT_NO, AMOUNT, 
      CURRENCY_ID, PAYER_MOBILE, RES_CODE, 
      RES_MSG, EXT_JSON, REMARK, 
      REQUEST_NO)
    values (#{id,jdbcType=VARCHAR}, #{declareDetailId,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{payerName,jdbcType=VARCHAR}, 
      #{payerCertType,jdbcType=VARCHAR}, #{payerCertNo,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{currencyId,jdbcType=VARCHAR}, #{payerMobile,jdbcType=VARCHAR}, #{resCode,jdbcType=VARCHAR}, 
      #{resMsg,jdbcType=VARCHAR}, #{extJson,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{requestNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uns.unspay.entity.CpsDeclareFlow">
    insert into CPS_DECLARE_FLOW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="declareDetailId != null">
        DECLARE_DETAIL_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="payerName != null">
        PAYER_NAME,
      </if>
      <if test="payerCertType != null">
        PAYER_CERT_TYPE,
      </if>
      <if test="payerCertNo != null">
        PAYER_CERT_NO,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="currencyId != null">
        CURRENCY_ID,
      </if>
      <if test="payerMobile != null">
        PAYER_MOBILE,
      </if>
      <if test="resCode != null">
        RES_CODE,
      </if>
      <if test="resMsg != null">
        RES_MSG,
      </if>
      <if test="extJson != null">
        EXT_JSON,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="requestNo != null">
        REQUEST_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="declareDetailId != null">
        #{declareDetailId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payerName != null">
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerCertType != null">
        #{payerCertType,jdbcType=VARCHAR},
      </if>
      <if test="payerCertNo != null">
        #{payerCertNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="payerMobile != null">
        #{payerMobile,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null">
        #{resMsg,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        #{extJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uns.unspay.entity.CpsDeclareFlow">
    update CPS_DECLARE_FLOW
    <set>
      <if test="declareDetailId != null">
        DECLARE_DETAIL_ID = #{declareDetailId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payerName != null">
        PAYER_NAME = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerCertType != null">
        PAYER_CERT_TYPE = #{payerCertType,jdbcType=VARCHAR},
      </if>
      <if test="payerCertNo != null">
        PAYER_CERT_NO = #{payerCertNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="currencyId != null">
        CURRENCY_ID = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="payerMobile != null">
        PAYER_MOBILE = #{payerMobile,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        RES_CODE = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null">
        RES_MSG = #{resMsg,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        EXT_JSON = #{extJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null">
        REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uns.unspay.entity.CpsDeclareFlow">
    update CPS_DECLARE_FLOW
    set DECLARE_DETAIL_ID = #{declareDetailId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PAYER_NAME = #{payerName,jdbcType=VARCHAR},
      PAYER_CERT_TYPE = #{payerCertType,jdbcType=VARCHAR},
      PAYER_CERT_NO = #{payerCertNo,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      CURRENCY_ID = #{currencyId,jdbcType=VARCHAR},
      PAYER_MOBILE = #{payerMobile,jdbcType=VARCHAR},
      RES_CODE = #{resCode,jdbcType=VARCHAR},
      RES_MSG = #{resMsg,jdbcType=VARCHAR},
      EXT_JSON = #{extJson,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      REQUEST_NO = #{requestNo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>