<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uns.unspay.mapper.CpsDeclareOrderMapper">
  <resultMap id="BaseResultMap" type="com.uns.unspay.entity.CpsDeclareOrder">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="REQUEST_NO" jdbcType="VARCHAR" property="requestNo" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="DECLARE_PORT_ID" jdbcType="VARCHAR" property="declarePortId" />
    <result column="CURRENCY_ID" jdbcType="VARCHAR" property="currencyId" />
    <result column="DECLARE_FEE" jdbcType="VARCHAR" property="declareFee" />
    <result column="TOTAL_DECLARE_NUM" jdbcType="DECIMAL" property="totalDeclareNum" />
    <result column="SUCCESS_DECLARE_NUM" jdbcType="DECIMAL" property="successDeclareNum" />
    <result column="TOTAL_DECLARE_AMOUNT" jdbcType="DECIMAL" property="totalDeclareAmount" />
    <result column="SUCCESS_DECLARE_AMOUNT" jdbcType="DECIMAL" property="successDeclareAmount" />
    <result column="IS_PURCHASE" jdbcType="DECIMAL" property="isPurchase" />
    <result column="REQUEST_SOURCE" jdbcType="VARCHAR" property="requestSource" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="SIGN_TYPE" jdbcType="VARCHAR" property="signType" />
    <result column="NOTIFY_URL" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="EXT_JSON" jdbcType="VARCHAR" property="extJson" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RES_CODE" jdbcType="VARCHAR" property="resCode" />
    <result column="RES_MSG" jdbcType="VARCHAR" property="resMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, STATUS, CREATE_TIME, UPDATE_TIME, REQUEST_NO, ACCOUNT_ID, ACCOUNT_NAME, DECLARE_PORT_ID, 
    CURRENCY_ID, DECLARE_FEE, TOTAL_DECLARE_NUM, SUCCESS_DECLARE_NUM, TOTAL_DECLARE_AMOUNT, 
    SUCCESS_DECLARE_AMOUNT, IS_PURCHASE, REQUEST_SOURCE, VERSION, SIGN_TYPE, NOTIFY_URL, 
    EXT_JSON, REMARK, RES_CODE, RES_MSG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CPS_DECLARE_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CPS_DECLARE_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uns.unspay.entity.CpsDeclareOrder">
    insert into CPS_DECLARE_ORDER (ID, STATUS, CREATE_TIME, 
      UPDATE_TIME, REQUEST_NO, ACCOUNT_ID, 
      ACCOUNT_NAME, DECLARE_PORT_ID, CURRENCY_ID, 
      DECLARE_FEE, TOTAL_DECLARE_NUM, SUCCESS_DECLARE_NUM, 
      TOTAL_DECLARE_AMOUNT, SUCCESS_DECLARE_AMOUNT, 
      IS_PURCHASE, REQUEST_SOURCE, VERSION, 
      SIGN_TYPE, NOTIFY_URL, EXT_JSON, 
      REMARK, RES_CODE, RES_MSG
      )
    values (#{id,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{requestNo,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{accountName,jdbcType=VARCHAR}, #{declarePortId,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR}, 
      #{declareFee,jdbcType=VARCHAR}, #{totalDeclareNum,jdbcType=DECIMAL}, #{successDeclareNum,jdbcType=DECIMAL}, 
      #{totalDeclareAmount,jdbcType=DECIMAL}, #{successDeclareAmount,jdbcType=DECIMAL}, 
      #{isPurchase,jdbcType=DECIMAL}, #{requestSource,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{signType,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{extJson,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{resCode,jdbcType=VARCHAR}, #{resMsg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uns.unspay.entity.CpsDeclareOrder">
    insert into CPS_DECLARE_ORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="requestNo != null">
        REQUEST_NO,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="accountName != null">
        ACCOUNT_NAME,
      </if>
      <if test="declarePortId != null">
        DECLARE_PORT_ID,
      </if>
      <if test="currencyId != null">
        CURRENCY_ID,
      </if>
      <if test="declareFee != null">
        DECLARE_FEE,
      </if>
      <if test="totalDeclareNum != null">
        TOTAL_DECLARE_NUM,
      </if>
      <if test="successDeclareNum != null">
        SUCCESS_DECLARE_NUM,
      </if>
      <if test="totalDeclareAmount != null">
        TOTAL_DECLARE_AMOUNT,
      </if>
      <if test="successDeclareAmount != null">
        SUCCESS_DECLARE_AMOUNT,
      </if>
      <if test="isPurchase != null">
        IS_PURCHASE,
      </if>
      <if test="requestSource != null">
        REQUEST_SOURCE,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="signType != null">
        SIGN_TYPE,
      </if>
      <if test="notifyUrl != null">
        NOTIFY_URL,
      </if>
      <if test="extJson != null">
        EXT_JSON,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="resCode != null">
        RES_CODE,
      </if>
      <if test="resMsg != null">
        RES_MSG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="declarePortId != null">
        #{declarePortId,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="declareFee != null">
        #{declareFee,jdbcType=VARCHAR},
      </if>
      <if test="totalDeclareNum != null">
        #{totalDeclareNum,jdbcType=DECIMAL},
      </if>
      <if test="successDeclareNum != null">
        #{successDeclareNum,jdbcType=DECIMAL},
      </if>
      <if test="totalDeclareAmount != null">
        #{totalDeclareAmount,jdbcType=DECIMAL},
      </if>
      <if test="successDeclareAmount != null">
        #{successDeclareAmount,jdbcType=DECIMAL},
      </if>
      <if test="isPurchase != null">
        #{isPurchase,jdbcType=DECIMAL},
      </if>
      <if test="requestSource != null">
        #{requestSource,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        #{extJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null">
        #{resMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uns.unspay.entity.CpsDeclareOrder">
    update CPS_DECLARE_ORDER
    <set>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestNo != null">
        REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="declarePortId != null">
        DECLARE_PORT_ID = #{declarePortId,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        CURRENCY_ID = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="declareFee != null">
        DECLARE_FEE = #{declareFee,jdbcType=VARCHAR},
      </if>
      <if test="totalDeclareNum != null">
        TOTAL_DECLARE_NUM = #{totalDeclareNum,jdbcType=DECIMAL},
      </if>
      <if test="successDeclareNum != null">
        SUCCESS_DECLARE_NUM = #{successDeclareNum,jdbcType=DECIMAL},
      </if>
      <if test="totalDeclareAmount != null">
        TOTAL_DECLARE_AMOUNT = #{totalDeclareAmount,jdbcType=DECIMAL},
      </if>
      <if test="successDeclareAmount != null">
        SUCCESS_DECLARE_AMOUNT = #{successDeclareAmount,jdbcType=DECIMAL},
      </if>
      <if test="isPurchase != null">
        IS_PURCHASE = #{isPurchase,jdbcType=DECIMAL},
      </if>
      <if test="requestSource != null">
        REQUEST_SOURCE = #{requestSource,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        SIGN_TYPE = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        NOTIFY_URL = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        EXT_JSON = #{extJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        RES_CODE = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null">
        RES_MSG = #{resMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uns.unspay.entity.CpsDeclareOrder">
    update CPS_DECLARE_ORDER
    set STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      DECLARE_PORT_ID = #{declarePortId,jdbcType=VARCHAR},
      CURRENCY_ID = #{currencyId,jdbcType=VARCHAR},
      DECLARE_FEE = #{declareFee,jdbcType=VARCHAR},
      TOTAL_DECLARE_NUM = #{totalDeclareNum,jdbcType=DECIMAL},
      SUCCESS_DECLARE_NUM = #{successDeclareNum,jdbcType=DECIMAL},
      TOTAL_DECLARE_AMOUNT = #{totalDeclareAmount,jdbcType=DECIMAL},
      SUCCESS_DECLARE_AMOUNT = #{successDeclareAmount,jdbcType=DECIMAL},
      IS_PURCHASE = #{isPurchase,jdbcType=DECIMAL},
      REQUEST_SOURCE = #{requestSource,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      SIGN_TYPE = #{signType,jdbcType=VARCHAR},
      NOTIFY_URL = #{notifyUrl,jdbcType=VARCHAR},
      EXT_JSON = #{extJson,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      RES_CODE = #{resCode,jdbcType=VARCHAR},
      RES_MSG = #{resMsg,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>