<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uns.unspay.mapper.CpsDeclarePortMapper">
  <resultMap id="BaseResultMap" type="com.uns.unspay.entity.CpsDeclarePort">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="PORT_NAME" jdbcType="VARCHAR" property="portName" />
    <result column="RECORD_NUMBER" jdbcType="VARCHAR" property="recordNumber" />
    <result column="RECORD_NAME" jdbcType="VARCHAR" property="recordName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, STATUS, CREATE_TIME, UPDATE_TIME, PORT_NAME, RECORD_NUMBER, RECORD_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CPS_DECLARE_PORT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CPS_DECLARE_PORT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uns.unspay.entity.CpsDeclarePort">
    insert into CPS_DECLARE_PORT (ID, STATUS, CREATE_TIME, 
      UPDATE_TIME, PORT_NAME, RECORD_NUMBER, 
      RECORD_NAME)
    values (#{id,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{portName,jdbcType=VARCHAR}, #{recordNumber,jdbcType=VARCHAR}, 
      #{recordName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uns.unspay.entity.CpsDeclarePort">
    insert into CPS_DECLARE_PORT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="portName != null">
        PORT_NAME,
      </if>
      <if test="recordNumber != null">
        RECORD_NUMBER,
      </if>
      <if test="recordName != null">
        RECORD_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="portName != null">
        #{portName,jdbcType=VARCHAR},
      </if>
      <if test="recordNumber != null">
        #{recordNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null">
        #{recordName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uns.unspay.entity.CpsDeclarePort">
    update CPS_DECLARE_PORT
    <set>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="portName != null">
        PORT_NAME = #{portName,jdbcType=VARCHAR},
      </if>
      <if test="recordNumber != null">
        RECORD_NUMBER = #{recordNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null">
        RECORD_NAME = #{recordName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uns.unspay.entity.CpsDeclarePort">
    update CPS_DECLARE_PORT
    set STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PORT_NAME = #{portName,jdbcType=VARCHAR},
      RECORD_NUMBER = #{recordNumber,jdbcType=VARCHAR},
      RECORD_NAME = #{recordName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>