<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uns.unspay.mapper.CpsDeclareDetailMapper">
  <resultMap id="BaseResultMap" type="com.uns.unspay.entity.CpsDeclareDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DECLARE_ORDER_ID" jdbcType="VARCHAR" property="declareOrderId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="REQUEST_NO" jdbcType="VARCHAR" property="requestNo" />
    <result column="PAY_ORDER_NO" jdbcType="VARCHAR" property="payOrderNo" />
    <result column="PAYER_NAME" jdbcType="VARCHAR" property="payerName" />
    <result column="PAYER_CERT_TYPE" jdbcType="VARCHAR" property="payerCertType" />
    <result column="PAYER_CERT_NO" jdbcType="VARCHAR" property="payerCertNo" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="CURRENCY_ID" jdbcType="VARCHAR" property="currencyId" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="GOODS_NUM" jdbcType="DECIMAL" property="goodsNum" />
    <result column="GOODS_TYPE" jdbcType="VARCHAR" property="goodsType" />
    <result column="DELIVERY_COMPANY" jdbcType="VARCHAR" property="deliveryCompany" />
    <result column="DELIVERY_NUMBER" jdbcType="VARCHAR" property="deliveryNumber" />
    <result column="PAYER_MOBILE" jdbcType="VARCHAR" property="payerMobile" />
    <result column="IMPORT_TYPE" jdbcType="VARCHAR" property="importType" />
    <result column="RES_CODE" jdbcType="VARCHAR" property="resCode" />
    <result column="RES_MSG" jdbcType="VARCHAR" property="resMsg" />
    <result column="EXT_JSON" jdbcType="VARCHAR" property="extJson" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ISUPDATE" jdbcType="DECIMAL" property="isupdate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DECLARE_ORDER_ID, STATUS, CREATE_TIME, UPDATE_TIME, REQUEST_NO, PAY_ORDER_NO, 
    PAYER_NAME, PAYER_CERT_TYPE, PAYER_CERT_NO, AMOUNT, CURRENCY_ID, GOODS_NAME, GOODS_NUM, 
    GOODS_TYPE, DELIVERY_COMPANY, DELIVERY_NUMBER, PAYER_MOBILE, IMPORT_TYPE, RES_CODE, 
    RES_MSG, EXT_JSON, REMARK, ISUPDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CPS_DECLARE_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CPS_DECLARE_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uns.unspay.entity.CpsDeclareDetail">
    insert into CPS_DECLARE_DETAIL (ID, DECLARE_ORDER_ID, STATUS, 
      CREATE_TIME, UPDATE_TIME, REQUEST_NO, 
      PAY_ORDER_NO, PAYER_NAME, PAYER_CERT_TYPE, 
      PAYER_CERT_NO, AMOUNT, CURRENCY_ID, 
      GOODS_NAME, GOODS_NUM, GOODS_TYPE, 
      DELIVERY_COMPANY, DELIVERY_NUMBER, PAYER_MOBILE, 
      IMPORT_TYPE, RES_CODE, RES_MSG, 
      EXT_JSON, REMARK, ISUPDATE
      )
    values (#{id,jdbcType=VARCHAR}, #{declareOrderId,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{requestNo,jdbcType=VARCHAR}, 
      #{payOrderNo,jdbcType=VARCHAR}, #{payerName,jdbcType=VARCHAR}, #{payerCertType,jdbcType=VARCHAR}, 
      #{payerCertNo,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{currencyId,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsNum,jdbcType=DECIMAL}, #{goodsType,jdbcType=VARCHAR}, 
      #{deliveryCompany,jdbcType=VARCHAR}, #{deliveryNumber,jdbcType=VARCHAR}, #{payerMobile,jdbcType=VARCHAR}, 
      #{importType,jdbcType=VARCHAR}, #{resCode,jdbcType=VARCHAR}, #{resMsg,jdbcType=VARCHAR}, 
      #{extJson,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isupdate,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uns.unspay.entity.CpsDeclareDetail">
    insert into CPS_DECLARE_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="declareOrderId != null">
        DECLARE_ORDER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="requestNo != null">
        REQUEST_NO,
      </if>
      <if test="payOrderNo != null">
        PAY_ORDER_NO,
      </if>
      <if test="payerName != null">
        PAYER_NAME,
      </if>
      <if test="payerCertType != null">
        PAYER_CERT_TYPE,
      </if>
      <if test="payerCertNo != null">
        PAYER_CERT_NO,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="currencyId != null">
        CURRENCY_ID,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="goodsNum != null">
        GOODS_NUM,
      </if>
      <if test="goodsType != null">
        GOODS_TYPE,
      </if>
      <if test="deliveryCompany != null">
        DELIVERY_COMPANY,
      </if>
      <if test="deliveryNumber != null">
        DELIVERY_NUMBER,
      </if>
      <if test="payerMobile != null">
        PAYER_MOBILE,
      </if>
      <if test="importType != null">
        IMPORT_TYPE,
      </if>
      <if test="resCode != null">
        RES_CODE,
      </if>
      <if test="resMsg != null">
        RES_MSG,
      </if>
      <if test="extJson != null">
        EXT_JSON,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="isupdate != null">
        ISUPDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="declareOrderId != null">
        #{declareOrderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="payOrderNo != null">
        #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null">
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerCertType != null">
        #{payerCertType,jdbcType=VARCHAR},
      </if>
      <if test="payerCertNo != null">
        #{payerCertNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=DECIMAL},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCompany != null">
        #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNumber != null">
        #{deliveryNumber,jdbcType=VARCHAR},
      </if>
      <if test="payerMobile != null">
        #{payerMobile,jdbcType=VARCHAR},
      </if>
      <if test="importType != null">
        #{importType,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null">
        #{resMsg,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        #{extJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isupdate != null">
        #{isupdate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uns.unspay.entity.CpsDeclareDetail">
    update CPS_DECLARE_DETAIL
    <set>
      <if test="declareOrderId != null">
        DECLARE_ORDER_ID = #{declareOrderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestNo != null">
        REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="payOrderNo != null">
        PAY_ORDER_NO = #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null">
        PAYER_NAME = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerCertType != null">
        PAYER_CERT_TYPE = #{payerCertType,jdbcType=VARCHAR},
      </if>
      <if test="payerCertNo != null">
        PAYER_CERT_NO = #{payerCertNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="currencyId != null">
        CURRENCY_ID = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        GOODS_NUM = #{goodsNum,jdbcType=DECIMAL},
      </if>
      <if test="goodsType != null">
        GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCompany != null">
        DELIVERY_COMPANY = #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNumber != null">
        DELIVERY_NUMBER = #{deliveryNumber,jdbcType=VARCHAR},
      </if>
      <if test="payerMobile != null">
        PAYER_MOBILE = #{payerMobile,jdbcType=VARCHAR},
      </if>
      <if test="importType != null">
        IMPORT_TYPE = #{importType,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null">
        RES_CODE = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resMsg != null">
        RES_MSG = #{resMsg,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        EXT_JSON = #{extJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isupdate != null">
        ISUPDATE = #{isupdate,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uns.unspay.entity.CpsDeclareDetail">
    update CPS_DECLARE_DETAIL
    set DECLARE_ORDER_ID = #{declareOrderId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      PAY_ORDER_NO = #{payOrderNo,jdbcType=VARCHAR},
      PAYER_NAME = #{payerName,jdbcType=VARCHAR},
      PAYER_CERT_TYPE = #{payerCertType,jdbcType=VARCHAR},
      PAYER_CERT_NO = #{payerCertNo,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      CURRENCY_ID = #{currencyId,jdbcType=VARCHAR},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_NUM = #{goodsNum,jdbcType=DECIMAL},
      GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      DELIVERY_COMPANY = #{deliveryCompany,jdbcType=VARCHAR},
      DELIVERY_NUMBER = #{deliveryNumber,jdbcType=VARCHAR},
      PAYER_MOBILE = #{payerMobile,jdbcType=VARCHAR},
      IMPORT_TYPE = #{importType,jdbcType=VARCHAR},
      RES_CODE = #{resCode,jdbcType=VARCHAR},
      RES_MSG = #{resMsg,jdbcType=VARCHAR},
      EXT_JSON = #{extJson,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ISUPDATE = #{isupdate,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>