<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.CpsSettlementExchangeMapper">
  <resultMap id="BaseResultMap" type="com.mybatis.entity.CpsSettlementExchange">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="COLLECT_ORDER_ID" jdbcType="VARCHAR" property="collectOrderId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COLLECT_ORDER_ID, ACCOUNT_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CPS_SETTLEMENT_EXCHANGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CPS_SETTLEMENT_EXCHANGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mybatis.entity.CpsSettlementExchange">
    insert into CPS_SETTLEMENT_EXCHANGE (ID, COLLECT_ORDER_ID, ACCOUNT_ID, 
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{collectOrderId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.entity.CpsSettlementExchange">
    insert into CPS_SETTLEMENT_EXCHANGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="collectOrderId != null">
        COLLECT_ORDER_ID,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="collectOrderId != null">
        #{collectOrderId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.entity.CpsSettlementExchange">
    update CPS_SETTLEMENT_EXCHANGE
    <set>
      <if test="collectOrderId != null">
        COLLECT_ORDER_ID = #{collectOrderId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.entity.CpsSettlementExchange">
    update CPS_SETTLEMENT_EXCHANGE
    set COLLECT_ORDER_ID = #{collectOrderId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.mybatis.entity.CpsSettlementExchange">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="COLLECT_ORDER_ID" jdbcType="VARCHAR" property="collectOrderId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COLLECT_ORDER_ID, ACCOUNT_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CPS_SETTLEMENT_EXCHANGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CPS_SETTLEMENT_EXCHANGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mybatis.entity.CpsSettlementExchange">
    insert into CPS_SETTLEMENT_EXCHANGE (ID, COLLECT_ORDER_ID, ACCOUNT_ID, 
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{collectOrderId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.entity.CpsSettlementExchange">
    insert into CPS_SETTLEMENT_EXCHANGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="collectOrderId != null">
        COLLECT_ORDER_ID,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="collectOrderId != null">
        #{collectOrderId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.entity.CpsSettlementExchange">
    update CPS_SETTLEMENT_EXCHANGE
    <set>
      <if test="collectOrderId != null">
        COLLECT_ORDER_ID = #{collectOrderId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.entity.CpsSettlementExchange">
    update CPS_SETTLEMENT_EXCHANGE
    set COLLECT_ORDER_ID = #{collectOrderId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>